/* -------------------------------------------    header     --------------------------------------------------*/
.header{
    font-family: "Oswald", sans-serif;
}

.header .header__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: var(--header-height);
    z-index: 999;
    position: relative;
    margin-bottom: calc(var(--banner-height) - var(--header-height));
}

.header__logo{
    display: flex;
    align-items: center;
}

.header__logo-img{
    max-width: 54px;
    height: 100%;
}

.header__logo-text{
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--white-color);
}

.header__main{
    display: flex;
    justify-content: space-between;
}

.header__navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__navbar-items-link{
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--white-color);
    font-weight: 500;
    margin-right: 24px;
    position: relative;
}


.header__navbar-items-link--select{
    color: var(--primary-color);
}

.header__navbar-items-link--select::after{
    position: absolute;
    content: "";
    background-color: var(--primary-color);
    height: 2.5px;
    width: 100%;
    bottom: -8px;
    left: 0;
}

.header__navbar-items-link:last-child{
    margin-right: 0;
}

.header__actions{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__button{
    margin: 20px;
}

.header__button:hover{
    background-color: rgb(105 148 3) !important;
}

.header__actions-container{
    display: flex;
}

.header__actions-container-cart,
.header__actions-container-user,
.header__actions-container-search{
    padding: 12px;
    border-radius: 50%;
    background-color: var(--white-color);
    margin-left: 12px;
    height: 40px;
    width: 40px;
}

.header__actions-container-cart:hover,
.header__actions-container-user:hover,
.header__actions-container-search:hover{
    background-color: var(--primary-color);
}

.header__actions-container-cart-link svg,
.header__actions-container-user-link svg,
.header__actions-container-search-link svg{
    height: 16px;
    width: 16px;
    fill: #000;
}

/* contain */
.contain {
    font-family: "Oswald", sans-serif;

}

/* banner */
.banner {   
    width: 100%;
    height: 590px;
    top: 0;
    z-index: -1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-120px);
}



.splide {
    position: relative;
    z-index: 4; /* Đặt splide nằm phía trên overlay */
}

.splide__slide{
    display: flex;
    justify-content: center;
    align-items: center;
}

.splide__slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(15, 23, 42);
    opacity: 0.6; /* Điều chỉnh độ mờ */
    z-index: 5;
}


.splide__slide-image {
    width: 100%;
    height: 100%;
    object-position: center;   /* Căn giữa ảnh cả chiều ngang lẫn chiều dọc */
}

.splide .splide__arrow {
    background-color: transparent;
    border: 2px solid rgb(156 163 175);
    border-radius: 4px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
    margin: 6px;
}

.splide:hover .splide__arrow {
    opacity: 1;
}


.splide .splide__arrow svg {  
    fill: rgb(128 181 0);
    height: 24px;
    width: 24px;
}

.splide__arrow:hover {
    background-color: rgb(128 181 0);
}

.splide__arrow:hover svg{
    fill: #fff;
}
.splide__pagination{
    position: absolute;
    top: 538px;  /* Điều chỉnh khoảng cách từ trên */
    z-index: 10;
}

.splide__pagination__page{
    margin: 12px !important;
    width: 10px !important;
    height: 10px !important;
}

.splide__pagination__page.is-active{
    background-color: #80b500 !important;

}

.splide__pagination__page:hover{
    background-color: rgb(128 181 0);
}



.banner__text {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: right;
    color: #fff;
    z-index: 99;
    padding: 32px;
    margin-right: 64px;
}


.banner__text-description-left{
    font-size: 2rem;
    font-weight: 300;
    padding-left: 32px;
    margin-top: 24px;
    border: 0 solid #e5e7eb;
    border-left-width: 2px;
    letter-spacing: 0.1px;
}


.banner__text-left {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #fff;
    z-index: 99;
    padding: 32px;
    margin-left: 64px;
}

.banner__text-supertitle{
    font-size: 2.2rem;
    font-weight: 500;
}

.banner__text-title{
    font-size: 4.6rem;
    line-height: 1;
    font-weight: 700;
    margin-top: 24px;
}

.banner__text-description{
    font-size: 2rem;
    font-weight: 300;
    padding-right: 32px;
    margin-top: 24px;
    border: 0 solid #e5e7eb;
    border-right-width: 2px;
    letter-spacing: 0.1px;
}

button.banner__button{
    margin-top: 40px;
    width: 160px;
    align-self: flex-end;
    font-size: 16px;
    line-height: 1.6;
}



button.banner__button-left{
    margin-top: 40px;
    width: 160px;
    font-size: 16px;
    line-height: 1.6;
}

/* --------------------------------------------  contain  --------------------------------------------------- */
.contain {
}


/* discount */
.discount {
    transform: translateY(-8px);
}

.discount__container{
    display: flex;
    justify-content: space-between;
    gap: 3.2rem;
}

.discount__container-scene{
    width: 100%;
    height: 246px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 4px;
}

.discount__container-main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 25px;
    transition: transform 0.6s ease-in-out;
    object-fit: cover;
}

.discount__container-main:hover{
    transform: scale(1.1);
}

.discount__container-img{
    width: 194px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.discount__container-img-icon{
    max-width: 195px;
}

.discount__container-text{
    display: flex;
    flex-direction: column;
    color: var(--white-color);
    line-height: 3.6rem;
}

.discount__container-text-suppertitle{
    font-size: 1.3rem;
}

.discount__container-text-title{
    font-size: 2.5rem;
    font-weight: 700;
}

.discount__container-text-description{
    font-size: 2.5rem;
    font-weight: 500;
}

.discount__container-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2rem;
    margin: 12px 8px 8px 0;
}

.discount__container-btn:hover{
    background-color: rgb(243 244 246)  ;
}

/* products */
.products {
    font-family: "Oswald", sans-serif;
    margin-top: 104px !important;
}

.products__heading{
    font-size: 4.6rem;
    font-weight: 900;
    line-height: 48px;
    text-align: center;
    margin-bottom: 48px;
}

.products__navbar{
    margin-bottom: 24px;
}

.products__navbar-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

.products__navbar-items-link{
    font-size: 2rem;
    line-height: 28px;
    font-weight: 500;
    padding: 24px;
    margin: 4px 8px;
    letter-spacing: .8px;
    cursor: pointer;
    position: relative;
}

.products__navbar-items-select{
    border: 0 solid var(--primary-color);
    border-bottom-width: 2px;
    color: var(--primary-color);
}

.products__navbar-items-link::before{
    content: "";
    position: absolute;
    background-color: #e9e9e9;
    top: 32px;
    right: -8px;
    width: 2px;
    height: 16px;
}

.products__navbar-items-link:last-child::before{
    content: "";
    height: 0;
    width: 0;
}

.products__container-scene{
    padding-right: 30px;
    
}
.products__container-items{
    border: 1px solid #e5e7eb;
    margin-bottom: 30px;
}

.products__container-items:hover{
    box-shadow: 0 25px 50px -12px #d8dbe0;
}

.products__container-items-link{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products__container-items-img{
    max-width: 100%;
    max-height: 258.5px;
    background-size: contain;
    background-position: center;
    overflow: hidden;
}

.products__container-items-label{
    color: var(--white-text-color);
    font-size: 1.4rem;
    font-family: Open Sans,sans-serif;
    font-weight: 700;
    line-height: 2rem;
    background-color: var(--primary-color);
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 4px 12px;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    z-index: 2;
}

.label-red{
    background-color: #df2c2c;
}


.products__container-items-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.2s ease, transform 0.3s ease;
}

.products__container-items-link:hover .products__container-items-icon {
    opacity: 1; 
    transform: translateY(0);
}

button.products__btn{
    background-color: var(--white-color);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
    margin: 0 8px;
}

button.products__btn:hover{
    background-color: var(--primary-color);
    color: var(--white-text-color);
}

.products__container-items-info{
    padding: 28px;
    font-size: 1.4rem;
}

.products__container-items-rating{
    font-family: Open Sans,sans-serif;
    font-size: 1.4rem;
    color: rgb(255, 184, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.products__container-items-quantily{
    color: var(--primary-color);
    line-height: 2rem;
    margin-left: 8px;
}

.products__container-items-title{
    margin: 8px 0;
    text-align: center;
    min-height: 45px;
}

.products__container-items-title:hover a{
    color: var(--primary-color);
    transition-duration: .3s;
}

.products__container-items-title-link{
    color: var(--black-text-color); 
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.25rem;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Giới hạn hiển thị 2 dòng */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.products__container-items-sprices{
    display: flex;
    justify-content: center;
    align-items: center;
}

.products__container-items-sprices-new{
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-color);
}

.products__container-items-sprices-old{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--light-green);
    text-decoration-line: line-through;
    margin-left: 8px;
}
/* deal */
.deal {

}

/* invesment */
.invesment {

}

/* -------------------------------- START - blogs --------------------------------------- */
.blogs {
    padding: 120px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blogs-content {
    max-width: 1240px;
    margin: 0 -12px;
    overflow-x: hidden;
}

.blogs .splide__slide::before {
    display: none;
}

.blogs-title {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 58px;
}

.blogs .card {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    transition: transform 0.2s ease-in-out;
    margin: 0 8px;
}

.blogs .card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.blogs .card:hover .card__title{
    color: var(--primary-color);
}

.blogs .card__link {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 70%;
    overflow: hidden;
}

.blogs .card__image  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.blogs .card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blogs .card__content {
    padding: 16px 16px 0;
}

.blogs .tags {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
    padding: 0 10px;
}

.blogs .tag {
    background-color: var(--white-text-color);
    color: var(--black-text-color);
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
    padding: 10px 8px;
    border-radius: 16px;
    text-transform: lowercase;
    border: 1px solid var(--primary-color);
    box-shadow: rgba(5, 44, 3, 0.1) 0px 4px 16px, rgba(5, 44, 3, 0.1) 0px 8px 24px, rgba(5, 44, 3, 0.1) 0px 16px 56px;
}

.blogs .card__title {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 10px 0;
    line-height: 1.5;
    color: var(--black-text-color);
    transition: all 0.2s linear;
}

.blogs .card__title:hover {
    color: var(--primary-color);
}

.blogs .card__text {
    font-size: 14px;
    color: #666;
    margin: 0 0 26px 0;
    padding-right: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2; /* Hiển thị tối đa 2 dòng */
    max-height: 4.8rem; /* Giới hạn chiều cao gần bằng 2 dòng */
}



.blogs .card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: var(--black-text-color);
    border-top: 1px solid #d7d7d7;
    padding: 26px 0;
}

.blogs .card__footer i {
    color: var(--primary-color);
    margin-right: 10px;
}

.blogs .card__footer .author, .card__footer .date {
    display: flex;
    align-items: center;
}

/* -------------------------------- END - blogs --------------------------------------- */


/* --------------------------------  START - footer --------------------------------------- */
.footer {
    position: relative;
    margin-top: 84px;
}

/* footer-contain */
.footer__contain {
    padding: 164px var(--padding-left-right-footer) 56px;
    background-color: #f7f5eb;
}

.footer__logo {
    margin: 0 0 24px;
    width: 40%;
}

.footer__descr {
    font-size: 16px;
    color: var(--black-text-color);
    margin: 0 0 24px;
    line-height: 1.5;
    width: 80%;
}

.footer__item--title {
    font-size: 20px;
    font-weight: 700;       
    color: var(--black-text-color) ;
    margin: 0 0 24px;
    text-transform: capitalize;
}

.footer__item {
    padding: 10px 0;
}

.footer__item--link {
    font-size: 14px;
    font-weight: 700;
    padding: 0 10px 0 0;
    text-transform: capitalize;
    color: var(--black-text-color);
}

.footer__item--link:hover {
    text-decoration: underline;
}

.footer .email-form {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
}

.footer .email-form input[type="email"] {
    flex: 1;
    border: none;
    padding: 20px 15px;
    font-size: 16px;
    color: var(--placeholder-text-color);
    outline: none;
}

.footer .email-form button {
    background-color: var(--primary-color);
    border: none;
    padding: 20px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .email-form button i {
    font-size: 16px;
    color: white;
}
/* End - footer-contain */


/* footer-copyright */
.footer__copyright {
    padding: var(--padding-left-right-footer);
    background-color: #0f172a;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright--left {
    margin: 0 -10px;

}
.copyright--right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -10px;

}

.copyright--text {
    font-size: 16px;
    color: var(--white-text-color);
    text-transform: capitalize;
    margin: 0 10px;
}
/* END - footer-copyright */

/* footer-risr */
.footer__border-right--item {
    border-right: 1px solid #666666;
}

.footer__border-right--item:last-child {
    border-right: none;
}
.footer__rise {
    position: absolute;
    width: calc(100% - var(--padding-left-right-footer) * 2);
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    background-color: #fff;
    padding: 40px 0;
}

.footer__rise--item {
    display: flex;
    align-items: center;
    padding: 0 32px;
}

.rise__item--img {
    display: flex;
    align-items: center;
    width: 20%;
}

.rise__item--img img{
    width: 100%;
}

.rise__item--content {
    margin: 0 0 0 20px;
}

.rise__item--title {
    font-size: 16px;
    font-weight: 700;
    color: var(--black-text-color);
}

.rise__item--descr  {
    font-size: 14px;
    color: var(--black-text-color);
    margin: 12px 0 0;
    /* line-height: 1.5; */
}

.rise__item--border--right {
    border-right: 1px solid #333333;
}
