/* -------------------------------------------    header     --------------------------------------------------*/
.header{
    font-family: "Oswald", sans-serif;
}

.header .header__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: var(--header-height);
    z-index: 999;
    position: relative;
    margin-bottom: calc(var(--banner-height) - var(--header-height));
}

.header__logo{
    display: flex;
    align-items: center;
}

.header__logo-img{
    max-width: 54px;
    height: 100%;
}

.header__logo-text{
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--white-color);
}

.header__main{
    display: flex;
    justify-content: space-between;
}

.header__navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__navbar-items-link{
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--white-color);
    font-weight: 500;
    margin-right: 24px;
    position: relative;
}


.header__navbar-items-link--select{
    color: var(--primary-color);
}

.header__navbar-items-link--select::after{
    position: absolute;
    content: "";
    background-color: var(--primary-color);
    height: 2.5px;
    width: 100%;
    bottom: -8px;
    left: 0;
}

.header__navbar-items-link:last-child{
    margin-right: 0;
}

.header__actions{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__button{
    margin: 20px;
}

.header__button:hover{
    background-color: rgb(105 148 3) !important;
}

.header__actions-container{
    display: flex;
}

.header__actions-container-cart,
.header__actions-container-user,
.header__actions-container-search{
    padding: 12px;
    border-radius: 50%;
    background-color: var(--white-color);
    margin-left: 12px;
    height: 40px;
    width: 40px;
}

.header__actions-container-cart:hover,
.header__actions-container-user:hover,
.header__actions-container-search:hover{
    background-color: var(--primary-color);
}

.header__actions-container-cart-link svg,
.header__actions-container-user-link svg,
.header__actions-container-search-link svg{
    height: 16px;
    width: 16px;
    fill: #000;
}



/* banner */
.banner {
    position: absolute;
    width: 100%;
    height: var(--banner-height);
    top: 0px;
    z-index: -1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}



.splide {
    position: relative;
    z-index: 4; /* Đặt splide nằm phía trên overlay */
}

.splide__slide{
    display: flex;
    justify-content: center;
    align-items: center;
}

.splide__slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(15, 23, 42);
    opacity: 0.6; /* Điều chỉnh độ mờ */
    z-index: 5;
}


.splide__slide-image {
    width: 100%;
    height: 100%;
    object-position: center;   /* Căn giữa ảnh cả chiều ngang lẫn chiều dọc */
}

.splide .splide__arrow {
    background-color: transparent;
    border: 2px solid rgb(156 163 175);
    border-radius: 4px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
    margin: 6px;
}

.splide:hover .splide__arrow {
    opacity: 1;
}


.splide .splide__arrow svg {  
    fill: rgb(128 181 0);
    height: 24px;
    width: 24px;
}

.splide__arrow:hover {
    background-color: rgb(128 181 0);
}

.splide__arrow:hover svg{
    fill: #fff;
}
.splide__pagination{
    position: absolute;
    top: 538px;  /* Điều chỉnh khoảng cách từ trên */
    z-index: 10;
}

.splide__pagination__page{
    margin: 12px !important;
    width: 10px !important;
    height: 10px !important;
}

.splide__pagination__page.is-active{
    background-color: #80b500 !important;

}

.splide__pagination__page:hover{
    background-color: rgb(128 181 0);
}



.banner__text {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: right;
    color: #fff;
    z-index: 99;
    padding: 32px;
    margin-right: 64px;
}


.banner__text-description-left{
    font-size: 2rem;
    font-weight: 300;
    padding-left: 32px;
    margin-top: 24px;
    border: 0 solid #e5e7eb;
    border-left-width: 2px;
    letter-spacing: 0.1px;
}


.banner__text-left {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #fff;
    z-index: 99;
    padding: 32px;
    margin-left: 64px;
}

.banner__text-supertitle{
    font-size: 2.2rem;
    font-weight: 500;
}

.banner__text-title{
    font-size: 4.6rem;
    line-height: 1;
    font-weight: 700;
    margin-top: 24px;
}

.banner__text-description{
    font-size: 2rem;
    font-weight: 300;
    padding-right: 32px;
    margin-top: 24px;
    border: 0 solid #e5e7eb;
    border-right-width: 2px;
    letter-spacing: 0.1px;
}

button.banner__button{
    margin-top: 40px;
    width: 160px;
    align-self: flex-end;
    font-size: 16px;
    line-height: 1.6;
}

button.banner__button-left{
    margin-top: 40px;
    width: 160px;
    font-size: 16px;
    line-height: 1.6;
}

/* --------------------------------------------  contain  --------------------------------------------------- */
.contain {
}


/* discount */
.discount {

}

/* products */
.products {

}

/* deal */
.deal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 120px 0;
}

.deal__wrapper {
    margin: 0 180px;
}

.deal__product, .deal__content {
    width: 100%;
    overflow: hidden;
}

.deal__propduct--image {
    height: auto;
    max-width: 100%;
}

.deal__subtitle {
    text-align: left;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 40px;
}

.deal__title {
    text-align: left;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 58px;
    text-transform: capitalize;
    line-height: 1.4;
}

.deal__countdown {
    display: flex;
    gap: 10px;
    margin-top: 90px;
}

.deal__time {
    text-align: center;
    padding: 10px 15px;
}

.deal__time span {
    font-size: 36px;
    font-weight: bold;
    color: var(--white-text-color);
    border-radius: 50%;
    background-color: #80b500;
    padding: 30px;
}

.deal__time p {
    font-size: 20px;
    color: var(--black-text-color);
    margin-top: 35px;
}



/* invesment */
.invesment {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f7f5eb;
}

.invesment__wrapper {
    padding: 120px 0;
    margin: 0 120px;
}

.invesment__suptitle {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 40px;
}

.invesment__item {
    border-radius: 20px;
    overflow: hidden;
}

.invesment__item:hover .invesment__image {
    transform: scale(1.2);
}

.invesment__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease-out;

}

.invesment .splide__slide::before {
    display: none;
}

/* -------------------------------- START - blogs --------------------------------------- */
.blogs {
    padding: 120px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}




.blogs-content {
    max-width: 1240px;
    margin: 0 -12px;
    clip-path: inset(0px 0px 0px 0px);
}


.blogs .splide__slide::before {
    display: none;
}


.blogs .card {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    transition: transform 0.2s ease-in-out;
    margin: 0 8px;
}

.blogs .card:hover {
    transform: translateY(-5px);
    cursor: pointer;
    z-index: 10;
}

.blogs .card:hover .card__title{
    color: var(--primary-color);
}

.blogs .card__link {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 70%;
    overflow: hidden;
}

.blogs .card__image  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.blogs .card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blogs .card__content {
    padding: 16px 16px 0;
}

.blogs .tags {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
    padding: 0 10px;
}

.blogs .tag {
    background-color: var(--white-text-color);
    color: var(--black-text-color);
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
    padding: 10px 8px;
    border-radius: 16px;
    text-transform: lowercase;
    border: 1px solid var(--primary-color);
    box-shadow: rgba(5, 44, 3, 0.1) 0px 4px 16px, rgba(5, 44, 3, 0.1) 0px 8px 24px, rgba(5, 44, 3, 0.1) 0px 16px 56px;
}

.blogs .card__title {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 10px 0;
    line-height: 1.5;
    color: var(--black-text-color);
    transition: all 0.2s linear;
}

.blogs .card__title:hover {
    color: var(--primary-color);
}

.blogs .card__text {
    font-size: 14px;
    color: #666;
    margin: 0 0 26px 0;
    padding-right: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2; /* Hiển thị tối đa 2 dòng */
    max-height: 4.8rem; /* Giới hạn chiều cao gần bằng 2 dòng */
}



.blogs .card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: var(--black-text-color);
    border-top: 1px solid #d7d7d7;
    padding: 26px 0;
}

.blogs .card__footer i {
    color: var(--primary-color);
    margin-right: 10px;
}

.blogs .card__footer .author, .card__footer .date {
    display: flex;
    align-items: center;
}

/* -------------------------------- END - blogs --------------------------------------- */


/* --------------------------------  START - footer --------------------------------------- */
.footer {
    position: relative;
    margin-top: 84px;
}

/* footer-contain */
.footer__contain {
    padding: 164px var(--padding-left-right-footer) 56px;
    background-color: #f7f5eb;
}

.footer__logo {
    margin: 0 0 24px;
    width: 40%;
}

.footer__descr {
    font-size: 16px;
    color: var(--black-text-color);
    margin: 0 0 24px;
    line-height: 1.5;
    width: 80%;
}

.footer__item--title {
    font-size: 20px;
    font-weight: 700;       
    color: var(--black-text-color) ;
    margin: 0 0 24px;
    text-transform: capitalize;
}

.footer__item {
    padding: 10px 0;
}

.footer__item--link {
    font-size: 14px;
    font-weight: 700;
    padding: 0 10px 0 0;
    text-transform: capitalize;
    color: var(--black-text-color);
}

.footer__item--link:hover {
    text-decoration: underline;
}

.footer .email-form {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
}

.footer .email-form input[type="email"] {
    flex: 1;
    border: none;
    padding: 20px 15px;
    font-size: 16px;
    color: var(--placeholder-text-color);
    outline: none;
}

.footer .email-form button {
    background-color: var(--primary-color);
    border: none;
    padding: 20px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .email-form button i {
    font-size: 16px;
    color: white;
}
/* End - footer-contain */


/* footer-copyright */
.footer__copyright {
    padding: var(--padding-left-right-footer);
    background-color: #0f172a;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright--left {
    margin: 0 -10px;

}
.copyright--right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -10px;

}

.copyright--text {
    font-size: 16px;
    color: var(--white-text-color);
    text-transform: capitalize;
    margin: 0 10px;
}
/* END - footer-copyright */

/* footer-risr */
.footer__border-right--item {
    border-right: 1px solid #666666;
}

.footer__border-right--item:last-child {
    border-right: none;
}
.footer__rise {
    position: absolute;
    width: calc(100% - var(--padding-left-right-footer) * 2);
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    background-color: #fff;
    padding: 40px 0;
}

.footer__rise--item {
    display: flex;
    align-items: center;
    padding: 0 32px;
}

.rise__item--img {
    display: flex;
    align-items: center;
    width: 20%;
}

.rise__item--img img{
    width: 100%;
}

.rise__item--content {
    margin: 0 0 0 20px;
}

.rise__item--title {
    font-size: 16px;
    font-weight: 700;
    color: var(--black-text-color);
}

.rise__item--descr  {
    font-size: 14px;
    color: var(--black-text-color);
    margin: 12px 0 0;
    /* line-height: 1.5; */
}

.rise__item--border--right {
    border-right: 1px solid #333333;
}